.LessonEditor {
    --area-width: 412px;
    --area-height: 915px;
}

.area {
    width: var(--area-width);
    height: var(--area-height);
}

.titleBlock {
    display: flex;
    justify-content: space-between;
}

.buttonsBlock {
    display: flex;
    gap: 8px;
}
