.Button {

}

.Button.default {
    background-color: gray;
}
.Button.accept {
    background-color: #5eaf5e;
}
.Button.cancel {
    background-color: #ababab;
}
.Button.alter {
    background-color: #6c6cc5;
}
.Button.delete {
    background-color: #d34545;
}
.Button.ghost {
    display: block;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: start;

    transition: background-color 0.3s ease;
}
.ghost:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
